@media (min-width: 1024px) {

   

// Estilos 

    main {
        .multydiv {
            display: flex;
            margin-bottom: 20px;
            justify-content: center;

            h2 {
                @include titulo-seccion;
            }
        }


        .img-mult {
            width: 50%;
            height: auto;
            margin: auto;

        }

        .img-div {
            width: 50%;
            height: auto;
            margin: auto;

        }

        section {
            .saber-mas {
                display: grid;
                margin-top: 100px;
                grid-template-areas:
                    "h2"
                    "video";

                h2 {
                    text-align: left;
                    margin: 10px;
                }
            }

            .sabermas-video {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                video {
                    width: 50%;
                    height: auto;
                }
            }
        }
    }

}